body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.logImag {
  height: 60px;
  padding-right: 15px;
}
.main-Div {
  display: flex;
  flex-direction: row;
  height: 88vh;
  overflow: hidden;
}
.first-Div {
  width: 40%;
  height: 100%;
}

.second-Div {
  width: 500px;
  height: 500px;
  /* background-color: rgb(146, 168, 144);
  /* border-radius: 305px 5px 25px 5px; */
  /* border-top-left-radius: 100px 220px;
  border-bottom-left-radius: 100px 220px;  */

  /* background-color: rgb(177, 218, 31); */
}
.circular-parent {
  position: absolute;
  width: 700px;
  height: 867px;
  right: 0;
  top: -200px;
  overflow: hidden;
}
.circular {
  background-color: #008265;
  border-radius: 1000px;
  width: 2400px;
  height: 1200px;
}
.bgImage {
  position: absolute;
  z-index: -1;
  height: 100%;
  right: 0;
}

.login-page {
  position: absolute;
  top: 380px;
  left: 180px;
  width: 300px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 20px;
  border-radius: 50px;
  border: none;
  background-color: #f6f9f9;
  padding: 5px;
}

input:focus {
  outline: none !important;
  border-color: #719ece;
  box-shadow: 0 0 10px #719ece;
}
button {
  width: 205px;
  background-color: #008265;
  color: white;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  padding: 5px;
}

p {
  color: #9bd6c7;
  padding-left: 10px;
  margin-top: 5px;
  cursor: pointer;
}

button:focus {
  outline: none !important;
  border-color: #719ece;
  box-shadow: 0 0 10px #719ece;
}

@media (max-width: 768px) {
  .main-Div {
    background-color: #008265;
  }
  .login-page {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 70px;
  }
  .first-Div {
    display: none;
  }
  .circular-parent {
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    width: 100%;
    top: 0;
  }
  .circular {
    display: none;
  }
  .heading {
    font-size: x-small;
  }
}

#navbar {
  border-bottom: 2px solid;
  background-color: white;
  width: 100%;
  border-color: #68a7f1;
  z-index: 1;
}

.heading {
  padding-left: 20px;
  font-weight: bold;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-text {
  margin: 30px 0px 30px 0px;
}
